doctype html
html
    head
        title "Page not found"
    body
        include ./header.pug
        p(style="text-align:center") Sorry, this is an invalid URL. Please visit :
            a(href=host) #{host}